body {
  background-color: #111;
  color: whitesmoke;
}
mark {
  padding: 0;
}

.title {
  font-size: calc(2.375rem + 1.5vw);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dropdown-menu {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-item:nth-child(n+1) {
  border-top: 1px solid #111;
}
.disable-scrollbars::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.icon-wrapper {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}
.correct {
  background-color: forestgreen;
  color: #333;
}
.almost {
  background-color: goldenrod;
  color: #333;
}
.incorrect {
  background-color: crimson;
  color: #333;
}
.progress {
  font-size: 1em;
  height: 1.25em;
  overflow: visible;
}
.progress > .progress-bar {
  border-radius: .25rem;
}
.text-left {
  left: -4ch;
}
.text-right {
  left: 0px;
}
.floating-text-wrapper {
  font-family: monospace;
  position: absolute;
  width: 5em;
}
.text-above-left {
  left: -5em;
  bottom: 1.25em;
}
.text-below-right {
  right: -5em;
  top: 1.25em;
}

#guesses {
  font-size: xx-large;
}
#year-progress-middle {
  overflow-x: visible;
}
