body {
  background-color: #111;
  color: whitesmoke;
}
mark {
  padding: 0;
}

.title {
  font-size: calc(2.375rem + 1.5vw);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.disable-scrollbars::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.icon-wrapper {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}
.correct {
  background-color: forestgreen;
  color: #333;
}
.almost {
  background-color: goldenrod;
  color: #333;
}
.incorrect {
  background-color: crimson;
  color: #333;
}
.text-left {
  left: -4ch;
}
.text-right {
  left: 0px;
}
.floating-text-wrapper {
  font-family: monospace;
  position: absolute;
  width: 5em;
}
.text-above-left {
  left: -5em;
  bottom: 0.75em;
}
.text-below-right {
  right: -5em;
  top: 0.75em;
}

#guesses {
  font-size: x-large;
}
#year-progress-middle {
  overflow-x: visible;
}

@media (min-width: 768px) {
  #guesses {
    font-size: xx-large;
  }
}

/* Bootstrap overrides */
span.placeholder {
  line-height: 1;
}

.hint-section [type=button] {
  padding: 0.15rem 0.3rem;
}
.dropdown-menu {
  max-height: 25em;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-menu > li:nth-child(1) {
  border-bottom: 1px solid #6c757d;
  border-top: 1px solid #6c757d;
}
.dropdown-menu > li:nth-child(n+1) {
  border-bottom: 1px solid #6c757d;
}
.progress {
  font-size: 1em;
  height: 0.75em;
  overflow: visible;
}
.progress > .progress-bar {
  border-radius: .25rem;
}
.modal-body textarea.form-control {
  min-height: 8em;
}
.btn-primary-colorblind {
  color: #fff;
  background-color: #AA4499;
  border-color: #AA4499;
}
.btn-success-colorblind {
  color: #fff;
  background-color: #117733;
  border-color: #117733;
}
.modal-content {
  background-color: #111 !important;
  box-shadow: 0 0 1.5rem #666;
}
.modal-body p {
  word-wrap: break-word;
}

#title .bi {
  font-size: 1.5rem;
}
#title .bi:hover {
  cursor: pointer;
}
